:root{ 
    --primary: #00473E;
    --secondary: #FAAE2B;
    --para: #475D5B;
    --header: #FFFFFE;
}

/* whole page styling */
body{
    background-color: var(--primary);
}

/* navbar styling */
.navbar{
    display: flex;
    justify-content: flex-end;
    color: #FFFFFE; !important
}

/* hero section styling */
.jumbotron{
    background-color: var(--primary);
    color: var(--header);
    text-align: center;
    margin: 70px auto
}

/* projects section styling */

/* skills section styling */

/* about/contact me section styling */

/* footer styling */