:root{ 
    --primary: #00473E;
    --secondary: #FAAE2B;
    --para: #475D5B;
    --header: #FFFFFE;
}

.customNav{
    background-color: green;
    text-decoration: underline;
}

.jumbotron{
    text-decoration: underline;
}

.navbar a{
    color: #FAAE2B;
}

h1{
    color: #FAAE2B;
}