:root{ 
    --primary: #00473E;
    --secondary: #FAAE2B;
    --para: #475D5B;
    --header: #FFFFFE;
}

.navbar{
    background-color: #00473E;
}

.jumbotron{
    background-color: #FAAE2B;
}

.navbar a{
    color: #FAAE2B;
}

h1{
    color: #FAAE2B;
}

#project1{
    background-color: #00473E;
}